.align-center {
  display: flex;
  align-items: center;
}

.inline-flex {
  display: inline-flex;
}

form {
  padding: 20px 0;
  max-width: 500px;
  border-bottom: 1px solid #ccc;
}

.search {
  display: flex;
  outline: 1px solid #cccccc;
}

.search > input {
  flex-grow: 1;
  border: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.search > input:focus {
  outline: none;
}

.search > button {
  padding: 0.8rem 2rem;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  background: #cccccc;
}

.bottom {
  margin-top: 10px;
  font-size: 14px;
}

.checkbox-block {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.checkbox-block input {
  margin-right: 5px;
  cursor: pointer;
}

.radio-block input {
  margin: 0 3px 0 10px;
}
