.fourth {
  cursor: pointer;
  border: 3px solid rgb(25, 155, 25);
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  background: none;
  position: relative;
}

.fourth::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(148, 236, 148);
  z-index: -1;
  transition: width 300ms;
}

.fourth:hover::before {
  width: 100%;
}
